* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}
.img-200 {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.card {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 5px 3px rgba(0, 0, 0, 0.3);
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 10px;
}
.nav {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.padding-10 {
  padding: 0 10px;
}

.flashCard {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  animation: fadeOut 10s forwards;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 200px;
}
.isError {
  color: red;
}
.isSuccess {
  color: green;
}
.isWarning {
  color: orange;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
